<div class="">
    <div class="max-w-7xl mx-auto py-12 px-8">
        <div class="grid grid-cols-2 gap-8">
            <div class="half-slider-content grid place-content-center">
                <div>
                    {{ content }}
                </div>
            </div>
            <div class="half-slick-slider">
                {{ images }}
                <div>
                    <img src="{{ url }}" alt="{{ alt }}">
                </div>
                {{ /images }}
            </div>
        </div>
    </div>
</div>

